.discover-main-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.discover-main-section .covers-image {
    width: 50%;
    height: auto;
    max-width: 620px;
}

.discover-main-section .call-to-action {
    width: 40vw;
    margin-left: 10%;
}

.icon-section {
    display: flex;
    margin: 1rem auto;
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .5rem;
    padding: .75rem;
    width: 100px;
    height: 100px;
    background-color: #6C0505;
    margin-bottom: 2rem;
}

.icon img {
    width: 40px;
}


@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
    .title {
        font-size: 2.7rem;
    }
    .discover-main-section {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .discover-main-section .covers-image {
        width: 60%;
    }
    .discover-main-section .call-to-action {
        width: 70%;
        margin: 1rem auto;
        text-align: center;
    }
    .discover-main-section .call-to-action .icon-section {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .main-header {
        flex-direction: column;
        padding: 0;
    }
    .title {
        font-size: 2rem;
        margin: auto;
    }
    .subtitle {
        font-size: 1.2rem;
        margin: 1rem;
    }
    .icon {
        width: 80px;
        height: 80px;
        font-size: 1rem;
    }
    .discover-main-section .covers-image {
        margin-top: 1rem;
    }
    .discover-main-section .call-to-action {
        width: 100%;
        padding: .5rem;
    }
}


