.home-main-section {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
}

.home-main-section .img-wrapper {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  max-width: 50vw;
}

.home-main-section .lady-image {
  background-image: url(images/heroine.png);
  flex-grow: 1;
  max-height: 70vh;
  min-width: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.home-main-section .call-to-action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem;
    align-self: center; /*allows default alignment to be overridden*/
}

.ellipse {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}

.ellipse-1 {
    border-radius: 0;
    overflow: hidden;
    width: 10vw;
    height: 20vw;
    bottom: 0;
    right: 0;
    
}

.ellipse-1::before { /*need pseudo selector so it can overflow parent and not cause page to scroll*/
    content: '';
    transform: translate(30%,30%) rotate(39.04deg); 
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: rgba(99, 46, 38, 0.2);
}

.ellipse-2 {
    width: 15vw;
    height: 25vw;
    bottom: 5vw;
    right: 10vw;
    background: rgba(211, 76, 18, 0.2);
    transform: rotate(47.63deg);
}

.ellipse-3 {
    width: 20vw;
    height: 30vw;
    bottom: 12vw;
    right: 30vw;
    background: rgba(233, 180, 46, 0.2);
    transform: rotate(40.63deg);
}

.ellipse-4 {
    width: 25vw;
    height: 30vw;
    bottom: 12vw;
    right: 58vw;
    background: rgba(228, 240, 94, 0.2);
    transform: rotate(27.63deg);
}

@media (max-width: 600px) {
    .main-header .container {
        flex-direction: column;
        padding: 0;
    }
   
    .title {
        font-size: 2rem;
        margin: auto;
    }
    .subtitle {
        font-size: 1.2rem;
        margin: 1rem;
    }
}

@media (max-width: 1024px) {
    .title {
        margin: 1rem auto;
    }
    .btn {
        margin: auto;
    }
    .home-main-section {
        flex-direction: column-reverse;     
    }
    .home-main-section .call-to-action {
        text-align: center;
    }
    .home-main-section .img-wrapper {
        max-width: 100vw;
    }
    .ellipse {
        display: none;
    }
}

@media (min-height: 800px) {
    .subtitle {
        margin: 3.2rem auto;
    }
}