/*shared styles*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    color: white;
    min-height: 100vh;

    background: linear-gradient(240.64deg, #E02929 0%, rgba(235, 179, 70, 0.49) 85.83%, rgba(251, 241, 12, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    margin-left: 1rem;
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    font-weight: 800;
    color: hsl(336, 100%, 50%);
}
.main-nav ul li {
    margin-left: 2rem;
}

.main-nav ul, .footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a, .footer-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover, .footer-nav a:hover {
    color: #adadad;
}

.main-header, .main-footer {
    display: flex;
    justify-content: space-between; /*push items apart as far as possible*/
    align-items: center;
    height: 140px; /*gives space above and below nav, since items inside are vertically centered*/
}

.main-header {
    height: 140px;
}

.main-footer {
    height: 70px;
    background-color: #6C0505;
    font-weight: bold;
}

.social-link img{
    width: 1em;
    margin-right: .25rem;
}

.main-footer .container {
    display: flex;
    justify-content: space-between;
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.title {
    font-weight: normal;
    font-size: 4.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: normal;
    font-size: 2.25rem;
    margin-bottom: 4rem;
}

.btn {
    color: white;
    background-color: hsl(14,76%,37%);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(14,76%,57%);
}

.btn:focus {
    background-color: hsl(14,76%,20%);
}

@media (max-width: 1024px) {
    .title {
        margin: 1rem auto;
    }
    .btn {
        margin: auto;
    }
}

@media (max-width: 600px) {
    .main-header {
        align-items: stretch;
    }
    .main-header .container {
        flex-direction: column;
        padding: 0;
    }
    .brand-logo {
        width: 100vw;
        height: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
        background-color: rgba(228, 240, 94, 0.5);
    }
    .main-header .main-nav ul li {
        background-color: rgba(228, 240, 94, 0.3);
        width: 40vw;
        margin: 5vw;
        text-align: center;
        border-radius: 10%;
    }
    .main-nav a {
        padding: 0;
    }
    .title {
        font-size: 2rem;
        margin: auto;
    }
    .subtitle {
        font-size: 1.2rem;
        margin: 1rem;
    }
}